@import url(/town-website/Assets/CSS/main.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -5;
    height: 92vh;
    background-color: var(--bgOne);
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    width: 90%;
    height: 100%;
    margin-left: 12rem;
    overflow: hidden;
    z-index: -4;
    padding: 0 2%;
  }

  .mission {
    flex: 1;
    margin-top: 5vh;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    z-index: -3;
    overflow: hidden;
  }

  .vision {
    flex: 1;
    margin-top: 5vh;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    overflow: hidden;
    z-index: -3;
  }

.mission h2, .vision h2 {
    text-align: center;
    color: var(--txtThree);
    z-index: 1;
}

.mission p, .vision p {
    text-align: center;
    color: var(--txtThree);
    z-index: 1;
}