@import url(/town-website/Assets/CSS/main.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.aboutContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 100;
    height: 100%;
    margin-left: 12rem;
    overflow: hidden;
  }

  .mission {
    margin-top: 5rem;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    overflow: hidden;
  }

  .vision {
    margin-top: 5rem;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    overflow: hidden;
  }