main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
}

.aboutContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100;
    height: 100%;
    margin-left: 12rem;
    overflow: hidden;
  }

  .mission {
    height: 100%;
    width: 20rem;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    overflow: hidden;
  }

  .vision {
    height: 100%;
    width: 20rem;
    align-items: center;
    justify-content: center;
    position: relative;
    word-wrap: normal;
    overflow: hidden;
  }