@import url(/town-website/Assets/CSS/main.css);

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh;
    background-color: var(--bgOne);
}

.contactContainer {
    display: grid;
    padding-left: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    width: 75%;
    height: auto;
    border: 0rem solid var(--bgFour);
    border-radius: 0.5rem;
    background: var(--bgFour);
}

.hours {
    width: 100%;
    height: auto;
    flex: 50%;
    border: 0rem solid var(--bgFour);
    border-radius: 0.5rem;
    background: var(--bgFour);
}

.hoursHead {
    color: var(--txtThree);
    margin-bottom: 0.5rem;
    text-align: left;
}

.hoursBody {
    color: var(--txtFour);
    text-align: left;
}

.hoursBody tr td {
    margin-bottom: 0.5rem;
}

.contactMap {
    padding: 1rem;
    height: auto;
    border: 0rem solid var(--bgFour);
    border-radius: 0.5rem;
    background: var(--bgFour);
}

.contactInfo {
    color: var(--txtThree);
}

.contactInfo h2 {
    margin-bottom: 1rem;
    color: var(--txtThree);
}

.contactInfo p {
    margin-bottom: 0.5rem;
    color: var(--txtFour);
}

.contactForm {
    padding: 1rem;
    height: auto;
    border: 0rem solid var(--bgFour);
    border-radius: 0.5rem;
    background: var(--bgFour);
}

.contactForm h2 {
    margin-bottom: 1rem;
    color: var(--txtThree);
}

.contactFormText {
    width: 85%;
    height: 1.5rem;
    color: var(--txtFour);
    outline: none;
    border: 0rem solid var(--bgOne);
    border-radius: 0.5rem;
    background: var(--bgOne);
    margin-bottom: 1rem;
    padding: 1rem;
}

.contactFormTextArea {
    width: 85%;
    height: 3rem;
    color: var(--txtFour);
    outline: none;
    border: 0rem solid var(--bgOne);
    border-radius: 0.5rem;
    background: var(--bgOne);
    margin-bottom: 1rem;
    padding: 1rem;
}

.contactFormBtn {
    width: 5.5rem;
    height: 1.65rem;
    border: 1rem;
    border-radius: 0.4rem;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    color: var(--txtFour);
    background-color: var(--bgOne);
}

.contactFormBtn:hover {
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem var(--bgOne) solid;
    border-radius: 0.4rem;
    background-color: var(--bgTwo);
    color: var(--txtThree);
    transition: var(--transition-speed);
  }