@import url(/town-website/Assets/CSS/main.css);

/* Base styles for main and .contactContainer */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    background-color: var(--bgOne);
}

/* Default Styles */
.contactContainer {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 75%;
    max-width: 600px;
    margin: 0 auto;
    background: var(--bgFour);
    border-radius: 0.5rem;
}

/* Hours and Contact Info Styles */
.hours {
    padding: 1rem;
    background: var(--bgFour);
}

.hoursHead {
    color: var(--txtThree);
    margin-bottom: 0.5rem;
    text-align: left;
}

.hoursBody {
    color: var(--txtFour);
    text-align: left;
}

.hoursBody tr td {
    margin-bottom: 0.5rem;
}

.contactInfo {
    color: var(--txtThree);
    padding: 1rem;
    text-align: center;
}

.contactInfo h2 {
    margin-bottom: 1rem;
}

.contactInfo p {
    margin-bottom: 0.5rem;
}

/* Map and Contact Form Styles */
.contactMap {
    padding: 1rem;
    background: var(--bgFour);
}

.contactForm {
    padding: 1rem;
    background: var(--bgFour);
}

.contactForm h2 {
    margin-bottom: 1rem;
    color: var(--txtThree);
}

.contactFormText,
.contactFormTextArea {
    width: 100%;
    color: var(--txtFour);
    outline: none;
    border: 0.1rem solid var(--bgOne);
    border-radius: 0.5rem;
    background: var(--bgOne);
    margin-bottom: 1rem;
    padding: 1rem;
}

.contactFormBtn {
    width: 100%;
    border: 0.1rem solid var(--bgOne);
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    color: var(--txtFour);
    background-color: var(--bgOne);
    transition: var(--transition-speed);
}

.contactFormBtn:hover {
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem solid var(--bgOne);
    border-radius: 0.4rem;
    background-color: var(--bgTwo);
    color: var(--txtThree);
}

/* Media query for portrait mode */
@media only screen and (max-height: 600px) and (orientation: portrait) {
    .contactContainer {
        grid-template-columns: 1fr;
    }

    .contactFormText,
    .contactFormTextArea {
        width: 100%; /* Adjust as needed for portrait mode */
    }
}

/* Media query for landscape mode */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .contactContainer {
        grid-template-columns: 1fr;
    }

    .contactFormText,
    .contactFormTextArea {
        width: 100%; /* Adjust as needed for landscape mode */
    }
}