/* Code Written by Stormy Wentworth on 09/01/2023 @11:28pm.*/

/*Adds Athelas Fonts for use on the website*/
@font-face {
    font-family: 'Athelas-Bold';
    src: url(/Assets/CSS/Fonts/Athelas-Bold.ttf);
}
@font-face {
    font-family: 'Athelas-BoldItalic';
    src: url(/Assets/CSS/Fonts/Athelas-BoldItalic.ttf);
}
@font-face {
    font-family: 'Athelas-Italic';
    src: url(/Assets/CSS/Fonts/Athelas-Italic.ttf);
}
@font-face {
    font-family: 'Athelas-Regular';
    src: url(/Assets/CSS/Fonts/Athelas-Regular.ttf);
}

:root {
    font-size: 16px;
    font-family: 'Athelas-Regular';
    /* Background Vars */
    --bgOne: #161516;
    --bgTwo: #be1e2d;
    --bgThree: #ffffff;
    --bgFour: #41393d;
    /* Text Vars */
    --txtOne: #41393d;
    --txtTwo: #be1e2d;
    --txtThree: #ffffff;
    --txtFour: #8a8c8f;
    --txtFive: #ffffff;
    /*Transistion Speed Variable*/
    --transition-speed: 200ms;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bgOne);
}

html::-webkit-scrollbar, html::-webkit-scrollbar-track, html::-webkit-scrollbar-thumb {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

nav::-webkit-scrollbar, nav::-webkit-scrollbar-track, nav::-webkit-scrollbar-thumb {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92vh;
}

header:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
}

h1 {
  font-size: 2rem;
  color: var(--txtFive);
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--txtFive);
  font-weight: 500;
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.showing {
  opacity: 1;
  z-index: -1;
  transition: none;
}

/*Navigation Elements*/
.navbar {
    position: fixed;
    background-color: var(--bgFour);
    transition: width 600ms ease;
    overflow: hidden;
    opacity: 1;
}

.navbarNav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    opacity: 1;
}

.navItem {
    justify-content: left;
    width: 100%;
}
.navItem:last-child {
    margin-top: auto;
}

.navLink {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--txtThree);
    text-decoration: none;
    transition: var(--transition-speed);
}

.navLink:hover {
    background: var(--bgFour);
    color: var(--txtTwo);
}

.linkText {
    display: none;
    margin-left: 1rem;
}

.material-symbols-outlined {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--txtThree);
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 150,
    'opsz' 40
}

.material-symbols-outlined:hover {
    color: var(--txtTwo);
}

.material-symbols-outlined,
.material-symbols-outlined:hover {
    transition: var(--transition-speed);
}

.linkText,
.linkText:hover {
    transition: var(--transition-speed);
}

.logo {
    width: 100%;
    background: var(--bgFour);
  }

  .logoSVG {
    width: 100%;
    height: 100%;
  }

  .menuCta {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    width: 20rem;
    height: 0.25rem;
    padding: 2rem;
    border: 0rem solid var(--bgFour);
    border-radius: 0.5rem;
    background: var(--bgFour);
    color: var(--txtFour);
  }

  .menuCtaBtn {
    width: 5.5rem;
    height: 1.65rem;
    border: 1rem;
    border-radius: 0.4rem;
    margin-left: auto;
    text-decoration: none;
    font-weight: bold;
    color: var(--txtFour);
    background-color: var(--bgOne);
  }

  .menuCtaBtn:hover {
    text-decoration: none;
    font-weight: bold;
    border: 0.1rem var(--bgOne) solid;
    border-radius: 0.4rem;
    background-color: var(--bgTwo);
    color: var(--txtThree);
    transition: var(--transition-speed);
  }

  footer {
    display: inline-flex;
    width: 100%;
    height: 4.6rem;
    background-color: var(--bgTwo);
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}

footer p {
  margin-top: 1.9rem;
  padding-left: 10rem;
  font-size: 1rem;
  color: var(--bgThree);
  overflow: hidden;
  flex: 1;
}

  .socialNav {
    margin-top: 0.8rem;
    height: 100%;
    align-items: center;
    margin-right: 5rem;
    overflow: hidden;
  }

  .socialBar {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .socialItem {
    width: 1.25rem;
    height: 1.25rem;
    padding-left: 1.5rem;
    list-style: none;
    display: inline-flex;
    overflow: hidden;
  }

  .socialIcon {
    width: 100%;
    height: 100%;
  }

 /* Responsive Styles for Portrait Orientation */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    /* Navbar */
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      position: fixed; /* Fix the navbar at the bottom */
  }

  .navbar:hover {
      width: 100%;
  }

  .navbarNav {
      flex-direction: row;
      justify-content: space-around;
  }

  .navItem {
      width: auto;
  }

  .navLink {
      justify-content: center;
  }

  .linkText {
      display: none;
      margin-left: 0;
  }

    /* Footer */
    footer {
      width: 100%;
      background-color: var(--bgTwo);
      margin-bottom: 5rem;
  }

  footer p {
      margin-top: 1rem;
      text-align: center;
      padding-left: 1rem;
  }

  .socialNav {
    margin-right: 1rem;
  }
}

/* Responsive Styles for Landscape Orientation */
@media only screen and (max-width: 600px) and (orientation: landscape) {

  /* Navbar */
  .navbar {
      position: fixed;
      left: 0;
      width: 5rem;
      height: 100vh;
      overflow-y: scroll;
  }

  .navbar:hover {
      width: 16rem;
  }

  .navbar:hover .linkText {
      display: inline;
  }

  .navbar:hover .logoSVG {
      margin-left: -1.75rem;
  }

    /* Footer */
    footer {
      position: fixed;
      bottom: 0;
      top: auto;
      width: auto;
      background-color: var(--bgTwo);
  }
}
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
      opacity: 1;
      overflow-y: auto;
  }
  
    .navbar:hover {
      width: 16rem;
      opacity: 1;
    }
  
    .navbar:hover .linkText {
      display: inline;
    }
  
    .navbar:hover .logoSVG
    {
      margin-left: -1.75rem;
    }
  
    .navbar:hover .logoText
    {
      left: 0px;
    }
}
  
  .dark {
    /* Background Vars */
    --bgOne: #161516;
    --bgTwo: #be1e2d;
    --bgFour: #41393d;
    /* Text Vars */
    --txtTwo: #be1e2d;
    --txtThree: #ffffff;
}
  
  .light {
    /* Background Vars */
    --bgOne: #d7e4c2;
    --bgFour: #c1cfaa;
    /* Text Vars */
    --txtTwo: #be1e2d;
    --txtThree: #161516;
    --txtFour: #161516;
}
  
  .solar {
    /* Background Vars */
    --bgOne: #161516;
    --bgFour: #41393d;
    --bgTwo: #41393d;
    /* Text Vars */
    --txtTwo: #ffffff;
    --txtThree: #8a8c8f;
}
  
  .themeIcon {
    display: none;
}
  
  .dark #darkIcon {
    display: block;
}
  
  .light #lightIcon {
    display: block;
}
  
  .solar #solarIcon {
    display: block;
}