@import url("/town-website/Assets/CSS/main.css");

body.is-transitioned {
    animation: fade-in 2s forwards;
    background-color: var(--bgFour);
    opacity: 0;
    transform: translate(50vh);
}

@keyframes fade-in {
    from {
        background-color: var(--bgFour);
        opacity: 0;
        transform: translate(50vh);
    }

    to {
        background-color: var(--bgOne);
        opacity: 1;
        transform: translate(0);
    }
}